apiVersion: v1
kind: PersistentVolume
metadata:
  name: persistent-volume1
  annotations:
    pv.beta.kubernetes.io/gid: 1000
  labels:
    type: local
  namespace: production
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/home/vagrant/pvpath"
