apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: '{{ lookup("file", "{{ kube_cert_dir }}/ca.crt") }}'
    server: https://{{ kube_master_address }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: development
    user: "{{ item }}"
  name: "{{ item }}-development"
- context:
    cluster: kubernetes
    namespace: staging
    user: "{{ item }}"
  name: "{{ item }}-staging"
current-context: "{{ item }}-development"
kind: Config
preferences: {}
users:
- name: "{{ item }}"
  user:
    client-certificate: '{{ lookup("file", "{{ user_certs_dir }}/{{ item }}.crt") }}'
    client-key: '{{ lookup("file", "{{ user_certs_dir }}/{{ item }}.key") }}'
